body{
    margin: 0;
    padding: 0;
    font-family: 'Sen';
    
}

html{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

.titlebox{
    width: 100%;
    height: 50vh;
    padding-top: 30vh;
    background-color: #daae9a;
}

.title{
    font-size: 150px;
    text-align: center;
    color: whitesmoke;
}

.subtitle{
    margin-top: 1%;
   font-size: 70px; 
   text-align: center;
   color: #c97070;

}

.button{
    width: 100%;
    height: 10vh;
    background-color: #daae9a;
    text-align: center;
    font-size: 200%;
    color: whitesmoke;
    padding-bottom: 10vh;
    transition-duration: 0.1s;
}

.button:hover{
    transition: 1s;
    margin-top: -100vh;
    height: 110vh;
    background-color: teal;
    color: #c9707000;
}

.textcontainer{
    width: 80%;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 3%;
    padding-top: 3%;
}

#white{


}

#green{
    background-color: teal;
    color: whitesmoke;
}

a{
    text-decoration: none;
}

h1{
    font-size: 7rem;
    padding-left: 0%;
    color: #c97070;
}





@media (orientation: portrait){
    .titlebox{
        padding-top: 15vh;
        height: 20vh;
    }

}



@media (max-width: 575px){
    .title{
        font-size: 3rem;
    }

    .subtitle{
        font-size: 1rem;
    }

    .button{
        font-size: 1.3rem;
    }

    p{
        font-size: 1.1rem;
    }
    
    h1{
        font-size: 2.2rem;
    }
}


@media (min-width: 576px){
    .title{
        font-size: 4rem;
    }

    .subtitle{
        font-size: 2rem;
    }

    .button{
        font-size: 1.7rem;
    }

    p{
        font-size: 1.4rem;
    }
    h1{
        font-size: 3.2rem;
    }
}

@media (min-width: 768px){
    .title{
        font-size: 6rem;
    }

    .subtitle{
        font-size: 3rem;
    }

    .button{
        font-size: 2.1rem;
    }

    p{
        font-size: 1.5rem;
    }

    h1{
        font-size: 4.5rem;
    }
}

@media (min-width: 992px){
    .title{
        font-size: 8rem;
    }

    .subtitle{
        font-size: 4rem;
    }

    .button{
        font-size: 2.8rem;
    }

    p{
        font-size: 1.6rem;
    }

    h1{
        font-size: 6rem;
    }
}

@media (min-width: 1200px){
    .title{
        font-size: 10rem;
    }

    .subtitle{
        font-size: 5rem;
    }

    .button{
        font-size: 4rem;
    }

    p{
        font-size: 2rem;
    }

    h1{
        font-size: 7rem;
    }
}

@media (orientation: landscape) and (max-width: 1575px){
    .titlebox{
        padding-top: 35vh;
        padding-bottom: 10vh;
        height: 35vh;
    }
}