body{
    margin: 0;
    padding: 0;
    font-family: 'Sen';
    
}

html{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

.titlebox{
    width: 100%;
    height: 50vh;
    padding-top: 30vh;
    background-color: #daae9a;
}

.title{
    font-size: 150px;
    text-align: center;
    color: whitesmoke;
}

.subtitle{
    margin-top: 1%;
   font-size: 70px; 
   text-align: center;
   color: #c97070;
}

.button{
    width: 100%;
    height: 10vh;
    background-color: #daae9a;
    text-align: center;
    font-size: 200%;
    color: whitesmoke;
    padding-bottom: 10vh;
    transition-duration: 0.2s;
}

.button:hover{
    transition: 1s;
    margin-top: -100vh;
    height: 110vh;
    background-color: teal;
    color: #c97070;
}

a{
    text-decoration: none;
}





@media (orientation: portrait){
    .titlebox{
        height: 50%;
        padding-top: 25vh;
        height: 35vh;
    }

}



@media (max-width: 575px){
    .title{
        font-size: 3rem;
    }

    .subtitle{
        font-size: 1rem;
    }

    .button{
        font-size: 1rem;
    }

    p{
        font-size: 0.8rem;
    }

}


@media (min-width: 576px){
    .title{
        font-size: 4rem;
    }

    .subtitle{
        font-size: 2rem;
    }

    .button{
        font-size: 1.3rem;
    }

    p{
        font-size: 1rem;
    }
}

@media (min-width: 768px){
    .title{
        font-size: 6rem;
    }

    .subtitle{
        font-size: 3rem;
    }

    .button{
        font-size: 1.5rem;
    }

    p{
        font-size: 1.3rem;
    }
}

@media (min-width: 992px){
    .title{
        font-size: 8rem;
    }

    .subtitle{
        font-size: 4rem;
    }

    .button{
        font-size: 2rem;
    }

    p{
        font-size: 1.5rem;
    }
}

@media (min-width: 1200px){
    .title{
        font-size: 10rem;
    }

    .subtitle{
        font-size: 5rem;
    }

    .button{
        font-size: 3rem;
    }

    p{
        font-size: 2rem;
    }
}