*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
 /*   background-image: url("../img/Wave2.svg"), url("../img/Wave1.svg"), url("../img/Sun.svg");    */
 font-family: 'Montserrat';

}


html{
    scroll-behavior: smooth;
}








.container{
    width: 100% ;
    min-height: 200vh;
  /*  overflow: hidden;   */ /*STICKY NIE CHCIAŁ PRZEZ TO DZIAŁAĆ*/
  
}

a{
    text-decoration: none;
    color: unset;
}


/*
?       ===VARIABLES===
*/
    $primaryClr: #ffffff;
    $desktopBP: "min-width: 1200px";
    $tabletBP: "min-width: 644px";

/*
?       ===VARIABLES===
*/


body{
    background-color: $primaryClr;
}



/*=====---\/---==HEADER==---\/---=====*/

/* 
    !MOBILE
*/
            /*==HEADER NAV==*/   
            
            .headerNav{
                position: absolute;
                top: 0;
                right: 0;
                width: 100%;
                height: 90vh;
                display: flex;
            //    align-content: center;
                flex-wrap: wrap;
            //    justify-content: space-between;
            //    justify-content: end;
                z-index: 4;
                list-style: none;
            }

            .headerNav{
                animation-name: nav;
                animation-duration: 3.5s;
                animation-direction: reverse;
            }     
            @keyframes nav{
                0%{opacity: 100%;}
                50%{opacity: 0;}
                100%{opacity: 0;}
            }

            .headerNav #logo img{
                width: 50%;
            }

            li{

            }

            #longer{    
                height: 10vh;
                width: 75%;
                padding: 3% 0;
            }

            #logo{
                width: 18%;
                margin-top: 1.1vh;
                margin-left: 2%;
            }

            .longer{
                background-color: rgb(241, 241, 241);
                color: $primaryClr;
                color: black;
                border-radius: 0.3em;
                height: 60%;
                width: 50%;
                float: right;
                display: flex;
                justify-content: center;
                align-items: center;
               // box-shadow: #3131314f 0px 0px 10px 1px;
                font-size: 1.8vh;
            }

            #logo{order: 1;}
            #longer{order: 2;}
            #item1{order: 3;}
            #item2{order: 4;}
            #item3{order: 5;}

            

            #item1{
                margin-top: 60vh;
                height: 20vh;

                width: 100vw;
                padding: 0;
                margin-bottom: -2vh;

                font-size: 1.5em;
            }
            #item1 *{
                display: block;
                width: 100%;
                text-align: center;
                margin: 0;
            }
            #item2{
                height: 5vh;
                width: 100vw;
                padding: 0;
                margin: 0
            }
            #item2 *{
                background-color: rgb(224, 224, 224);
            }
            #item3{
                height: 5vh;
                width: 100vw;
                padding: 0;
                margin: 0
            }
            #item3 *{
                background-color: rgb(224, 224, 224);

                background-color: rgb(31, 31, 31);
                color: #fff;
            }

            .item{
            
                height: 70%;
                width: 90%;
                margin-left: 5%;
                border-radius: 0.3em;
                display: flex;
                justify-content: center;
                align-items: center;
            }

            /*
                ?ANIMATION
            */
                    #item1::after{
                        display: block;
                        content: '';
                        width: 0%;
                        margin-left: 10%;
                        height: 5%;
                        background-color: blueviolet;
                    }
                    #item2::after{
                        display: block;
                        content: '';
                        width: 0%;
                        margin-left: 10%;
                        height: 5%;
                        background-color: blueviolet;
                    }
                    #item3::after{
                        display: block;
                        content: '';
                        width: 0%;
                        margin-left: 10%;
                        height: 5%;
                        background-color: blueviolet;
                    }



                            @keyframes example{
                                0%{height: .2em; width: 0%;}
                                30%{width: 40%;}
                                60%{background-color: chocolate; width: 60%;}
                                100%{background-color: #ee1a1a; width: 0%; }
                            }

                            #item1:hover::after{
                                animation-name: example;
                                display: block;
                                animation-duration: .5s;
                                animation-direction: reverse;
                                width: 0;
                            }
                            #item1:hover{
                                transition: all 0.3s ease-in-out 0s;
                                font-weight: 900;
                            }

                            #item2:hover::after{
                                transition: all 0.3s ease-in-out 0s;
                                animation-name: example;
                                display: block;
                                animation-duration: .5s;
                                animation-direction: reverse;
                                width: 0;
                            }
                            #item2:hover{
                                transition: all 0.3s ease-in-out 0s;
                                font-weight: 900;
                            }


                            #item3:hover::after{
                                transition: all 0.3s ease-in-out 0s;
                                animation-name: example;
                                display: block;
                                animation-duration: .5s;
                                animation-direction: reverse;
                                width: 0;
                            }
                            #item3:hover{
                                transition: all 0.3s ease-in-out 0s;
                                font-weight: 900;
                            }

                            #longer:hover .longer{
                                transition: all 0.3s ease-in-out 0s;
                                color: chocolate;
                                font-weight: 700;
                            }
                 /*
                ?ANIMATION
                */

/*
            .headerNav ul li{
                width: 4em;
                height: 10%;
                text-align: center;
                margin: 0 3%;
                padding: 2em 0;
                transition: all .2s ease 0s;
            }
            .headerNav ul li::after{
                content: "";
                display: block;
                height: 7%;
                background-color: chocolate;
                width: 0;
            }
            .headerNav ul li .item:hover::after{
                animation-name: example;
                animation-duration: 0.3s;
                height: 0.2em;
                width: 0;

                animation-direction: reverse;
                width: 20%;

                display: block;
            }
            @keyframes example{
                0%{height: .2em;}
                60%{background-color: chocolate; width: 100%;}
                100%{background-color: #ee1a1a; width: 0%; }
            }
            .headerNav a .longer{
                width: 30vw;
                text-align: right;
                padding-right: 5%;
            }
            .headerNav a .longer:hover{
                cursor: pointer;
                color: chocolate;
            }
            
           
*/
            /*==HEADER NAV==*/

            .titleContainer{
                width: 100%;
                height: 100vh;
                position: relative;
                color: #313131;
                background-color: $primaryClr;
                overflow: hidden;
                font-size: 2.2vw;
            }
                                       
            .titleContainer img{
                position: absolute;
                width: 18.4vw;
                min-width: 300px;
            }
            .titleContainer .wave1{
                top: 14vh;
                z-index: 1;
                width: 100vw;
                animation-name: wave;
                animation-duration: 1.5s;
                animation-direction: reverse;
            }
                                        @keyframes wave{
                                            0%{clip-path: circle(200% at 10% 10%);}
                                            100%{clip-path: circle(0% at 10% 10%);}
                                        }
            .titleContainer .wave2{
                top: 37vh;
                z-index: 3;
                width: 100vw;
                animation-name: wave2;
                animation-duration: 1.8s;
                animation-direction: reverse;
            }
                                        @keyframes wave2{
                                            0%{clip-path: circle(200% at 100% 50%);}
                                            60%{clip-path: circle(0% at 100% 50%);}
                                            100%{clip-path: circle(0% at 100% 50%);}
                                        }
            .titleContainer .Sun{
                position: absolute;
                right: 18vw;
                top: 15vh;
                z-index: 2;
                animation-name: sun;
                animation-duration: 2.2s;
                animation-direction: reverse;
            }
                                        @keyframes sun{
                                            0%{opacity: 100%;}
                                            46%{opacity: 0%;}
                                            100%{opacity: 0%;}
                                        }
            .titleContainer *{
                animation-name: rest;
                animation-duration: 3.5s;
                animation-direction: reverse;
            }                       
                                        @keyframes rest{
                                            0%{clip-path: circle(1000% at 10% 10%);}
                                            50%{clip-path: circle(0% at 10% 10%);}
                                            100%{clip-path: circle(0% at 10% 10%);}
                                        }
            .titleContainer .Box{
                top: 12vh;
                padding: 0% 10%;
                text-align: end;
                z-index: 4;
                width: 100%;
                height: auto;
                position: relative;
            }
            .titleContainer .Box div{
                position: relative;
                width: 60%;
                padding: 23% 5%;
                height: 45vh;
                font-weight: 900;
                font-weight: bolder;
                font-size: 4em;
                z-index: 3;
            
            }
            .titleContainer .Box div p{
                font-weight: 900;
                font-weight: bolder;
                font-size: 0.5em;
            }
            .titleContainer .Box2{
                position: relative;
                z-index: 3;
                width: 100%;
                padding: 0 10%;
                font-size: 2.4em;
                font-weight: 600;   
            }
            .titleContainer .button{
                position: absolute;
                bottom: 25vh;
                right: 65vh;
                z-index: 3;
            
                width: 10vw;
                height: 6%;
            
                display: none;
                
                font-size: 2em;
            
                overflow: hidden;
            }

            .sunText{
                display: none;
            }


            
/* 
    !TABLET
*/
        @media all and ($tabletBP){
            
           
             /*==HEADER NAV==*/   
            
             .headerNav{
                position: absolute;
                top: 0;
                right: 0;
                width: 100%;
                height: 10vh;
                display: flex;
            //    align-content: center;
                flex-wrap: nowrap;
                justify-content: space-between;
            //    justify-content: end;
                z-index: 4;
                list-style: none;

             
            }

            .headerNav #logo img{
                width: 5vw;
            }

            li{

            }

            #longer{    
                height: 8vh;
                width: 40%;
                padding: 2.5vh 0;
                display: flex;
                justify-content: start;
            }

            #logo{
                width: 5%;
                margin-top: 1.5%;
                margin-left: 2%;
            }

            .longer{
                background-color: rgb(0, 0, 0);
                color: $primaryClr;
                border-radius: 0.3em;
                height: 100%;
                width: 80%;
                float: right;
                display: flex;
                justify-content: center;
                align-items: center;
                box-shadow: #3131314f 0px 0px 10px 1px;
            }

            #logo{order: 1;}
            #longer{order: 2;}
            #item1{order: 3;}
            #item2{order: 4;}
            #item3{order: 5;}

            

            #item1{
                height: 80%;

                width: 10%;
                padding: 0;
                margin: 0;
                font-size: 1em;

                margin-top: 2vh;
            }
            #item1 i{
                display: none;
            }
            #item1 *{
                display: flex;
                justify-content: center;
                align-items: center;
            }
            #item2{
                height: 80%;
                width: 10vw;
                padding: 0;
                margin: 0;
                
            }
            #item2 *{
                background-color: transparent;
            }
            #item3{
                height: 80%;
                width: 10vw;
                padding:  0;
                margin: 0;
            }
            #item3 *{
                background-color: transparent;
                color: black;
            }

            .item{
                height: 70%;
                width: 90%;
                margin-left: 5%;
                border-radius: 0.3em;
                margin: 0;
                margin-top: 2vh;
                
                display: flex;
                justify-content: center;
                align-items: center;
            }

            /*==HEADER NAV==*/     

            .titleContainer{
                width: 100%;
                height: 100vh;
                font-size: 1em;
            }

            .titleContainer .Sun{
                position: absolute;
                right: 18vw;
                top: 20vh;
            }
      
            .titleContainer .Box div{
                padding: 13% 5%;
                height: 60vh;
            }

            .titleContainer .Box2{
                width: 50%;
                font-size: 1.4em;
            }
            .titleContainer .button{
                bottom: 25vh;
                right: 35vw;
                
                display: flex;
                align-items: center;
                justify-content: center;
                
                font-size: 2em;

                overflow: hidden;

                animation-duration: 2s;
                animation-name: arrow;
                animation-direction: reverse;
                animation-iteration-count: infinite;
            }
            .titleContainer .button:hover{
                animation-duration: 2s;
                animation-name: arrow;
                animation-direction: reverse;
                animation-iteration-count: infinite;
            }
            @keyframes arrow{
                0%{color: #313131; transform: rotateX(20deg);}
                60%{color: #cf834d; transform: rotateX(40deg);}
                100%{color: #313131; transform: rotateX(0deg);}
            }
            .titleContainer .button:active{
                background-color: #fff;
            }
            .sunText{
                display: none;
            }

            .headerNav .logo{
                margin-left: 2em;
                width: 5%;
                display: flex;
                align-items: center;
                justify-content: center;
            }
            .headerNav .logo img{
                width: 70%;
                display: block;
            }
        }



/* 
    !DESKTOP
*/
        @media all and ($desktopBP){
           /*==HEADER NAV==*/   
            
           .headerNav{
            position: absolute;
            top: 0;
            right: 0;
            width: 100%;
            height: 10vh;
            display: flex;
        //    align-content: center;
            flex-wrap: nowrap;
            justify-content: space-between;
        //    justify-content: end;
            z-index: 4;
            list-style: none;

         
        }

        .headerNav #logo img{
            width: 3vw;
        }

        li{

        }

        #longer{    
            height: 10vh;
            width: 60%;
            padding: 1.5% 0;
            display: flex;
            justify-content: end;
        }

        

        .longer{
            background-color: transparent;
            color: black;
            border-radius: 0.3em;
            height: 100%;
            width: 130%;
            float: right;
            display: flex;
            text-align: end;
            padding-left: 70%;
            justify-content: center;
            align-items: center;
            box-shadow: none;
        }


        #logo{
            width: 5%;
            margin-top: 1%;
            margin-left: 2%;
        }


        #logo{order: 1;}
        #longer{order: 5;}
        #item1{order: 2;}
        #item2{order: 3;}
        #item3{order: 4;}

        

        #item1{
            height: 80%;

            width: 5%;
            padding: 0;
            margin: 0;
            font-size: 1em;

            margin-top: 2vh;
        }
        #item1 i{
            display: none;
        }
        #item1 *{
            display: flex;
            justify-content: center;
            align-items: center;
            width: 150%;
        }

        #item2{
            height: 80%;
            width: 5%;
            padding: 0;
            margin: 0
        }
        #item2 *{
            background-color: transparent;
        }
        #item3{
            height: 80%;
            width: 5%;
            padding:  0;
            margin: 0
        }
        #item3 *{
            background-color: transparent;
        }

        .item{
            height: 70%;
            width: 90%;
            margin-left: 5%;
            border-radius: 0.3em;
            margin: 0;
            margin-top: 2vh;
            
            display: flex;
            justify-content: center;
            align-items: center;
        }

        /*==HEADER NAV==*/    
        
            .titleContainer .Sun{
                position: fixed;
                right: 18vw;
                top: 15vh;
                z-index: 2;
            }
            .titleContainer .button{
                right: 32.5vw;
            }
            .sunText{
                display: block;
            }

        }



/*=====---/\---==HEADER==---/\---=====*/




                                                                              





/*=====---\/---==SECTION==---\/---=====*/

/* 
    !MOBILE
*/

section{
    width: 100%;
    overflow: hidden;
    overflow: visible;
}

article{
    min-height: 50vh;
    width: 100%;
    overflow: hidden;
    overflow: visible;

    .textContainer{
        width: 100vw;
        padding: 5% 5%;
        margin-top: 10vh;
        p{
            line-height: 1.5em;
            margin-top: 2em;
        }
    }
}



.sunText{
    position: sticky;

   /* translate: 50% 50%;
    transform-origin: 50px 50px;*/

    color: white;

    top: 15vh;
    left: 61vw;

    z-index: 4;
    width: 20vw;
    height: 20vw;

    padding: 5%;

    font-weight: bolder;
    font-size: 2em;
}


section {
        .day{

        }

        .space{
            height: 20vw;
            position: relative;
            background-color: #f5f5f5;
          
            img{
                position: absolute;
                top: 0;
                width: 100%;
            }
            .wave2{
                z-index: 0;
            }
            .wave1{
                z-index: 2;
            }
        }

        .night{
            height: 150vh;
            background-color: rgb(28, 24, 43);
            position: relative;
            z-index: 3;
            background: rgb(215,215,215);
            background: linear-gradient(180deg, #8b8da0 0%, rgb(53, 58, 78) 48%, rgb(15, 15, 24) 90%, #07070c 100%);
            background: linear-gradient(180deg, #8b8da0 0%, rgb(53, 58, 78) 48%, rgb(29, 29, 43) 90%, #161620 100%);

            img{
                display: none;
             }

            .stars{
                width: 90vw;
                height: 100%;
                position: absolute;
                z-index: 1;
                top: 0;
                left: 0;
            
                background-image: url("../img/Stars2.svg");

                background-attachment: fixed;
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
            }

            .textContainer{
                color: rgb(226, 226, 226);
            }
        }
        
    }
/* 
    !TABLET
*/
@media all and ($tabletBP){



section {
        .day{

        }

        .space{
            height: 30vh;
        }

        .night{
            height: 150vh;
            background-color: rgb(28, 24, 43);
            position: relative;
            z-index: 3;
            background: rgb(215,215,215);
            background: linear-gradient(180deg, #8b8da0 0%, rgb(53, 58, 78) 48%, rgb(15, 15, 24) 90%, #07070c 100%);
            background: linear-gradient(180deg, #8b8da0 0%, rgb(53, 58, 78) 48%, rgb(29, 29, 43) 90%, #161620 100%);

            img{
                display: inline-block;
             }

            .stars{
                width: 90vw;
                height: 100%;
                position: absolute;
                z-index: 1;
                top: 0;
                left: 0;
            
            
                background-image: url("../img/Stars2.svg");

                background-attachment: fixed;
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
            }

        }

}

}


/* 
    !DESKTOP
*/
@media all and ($desktopBP){
    article{
        .textContainer{
            font-size: 1.3em;
            width: 60vw;
            padding: 5% 10%;
            margin-top: -15vh;
            margin-bottom: 10vh;
            h2{
                margin-left: 2vw;
            }
            .subText{
                margin-left: 2vw;
            }
            .subText2{
                margin-left: 2vw;
                margin-top: 10vh;
            }
            p{
                line-height: 1.5em;
                margin-top: 2em;
            }
        }
    }
   

}


/*=====---/\---==SECTION==---/\---=====*/

/* 
TODO - work in progress
*/



/*=====---\/---==FOOTER==---\/---=====*/
    footer{
        background-color: rgb(37, 37, 51);
        color: rgba(255, 255, 255, 0.411);
        font-weight: 500;
        text-align: center;
        padding: 0.3em;
        letter-spacing: .4em;
    }



/*=====---/\---==FOOTER==---/\---=====*/



                                            /*-------LOADING SCREEN--------
                                            .content {
                                                display: flex;
                                                justify-content: center;
                                                align-items: center;
                                                width:100%;
                                                height:100%;
                                                z-index: 7;
                                            }
                                            .loader-wrapper {
                                                width: 100%;
                                                height: 100%;
                                                position: fixed;
                                                top: 0;
                                                left: 0;
                                                background-color: #ffffff;
                                                display:flex;
                                                justify-content: center;
                                                align-items: center;
                                                z-index: 10;
                                            }
                                            .loader {
                                                display: inline-block;
                                                width: 30px;
                                                height: 30px;
                                                position: relative;
                                                border: 4px solid #000000;
                                                animation: loader 2s infinite ease;
                                            }
                                            .loader-inner {
                                                vertical-align: top;
                                                display: inline-block;
                                                width: 100%;
                                                background-color: #fff;
                                                animation: loader-inner 2s infinite ease-in;
                                            }
                                            @keyframes loader {
                                                0% { transform: rotate(0deg);}
                                                25% { transform: rotate(180deg);}
                                                50% { transform: rotate(180deg);}
                                                75% { transform: rotate(360deg);}
                                                100% { transform: rotate(360deg);}
                                            }
                                            @keyframes loader-inner {
                                                0% { height: 0%;}
                                                25% { height: 0%;}
                                                50% { height: 100%;}
                                                75% { height: 100%;}
                                                100% { height: 0%;}
                                            }
                                            -------LOADING SCREEN--------*/